<odoo>
	<record id="action_course_list" model="ir.actions.act_window">
		<field name="name">Course List</field>
		<field name="res_model">academic.course</field>
		<field name="view_mode">tree,form</field>
		<field name="help" type="html">
		<p class = "oe_view_nocontent_create">
			Click to add a Course </p>
		<p> Click the Create button to add a new Course </p>
		</field>
	</record>

	<record id="action_session_list" model="ir.actions.act_window">
		<field name="name">Session List</field>
		<field name="res_model">academic.session</field>
		<field name="view_mode">tree,form</field>
		<field name="help" type="html">
		<p class = "oe_view_nocontent_create">
			Click to add a Session </p>
		<p> Click the Create button to add a new Session </p>
		</field>
	</record>
	
	<menuitem id="academic_0" name="Academic" sequence="10"/>
	<menuitem id="academic_1" name="Academic" sequence="10" parent="academic_0"/>
	<menuitem id="academic_1_1" action="action_course_list" name="Course" sequence="10" parent="academic_1"/>
	<menuitem id="academic_1_2" action="action_session_list" name="Session" sequence="20" parent="academic_1"/>


</odoo>
